venv-*
.*.swp
.DS_Store
*.mp4
*.mov
*.avi

*.png
*.iff
*.ng
*.tif
cache
_*
*.exr

*.properties

renderman
*.swatch
*.swatches
assets/chars/rigs/Nightmare_can't_figure_out_how_to_mirror.ma

*.pyc
*.mel
*.log
